<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		
		DUEL_IS_OPEN: <%= DUEL_IS_OPEN %><br />

		<hr >

		<a href="/open">open</a>
		<a href="/close">close</a>
		
		<hr >

		<% if (messaggio) { %>
			<%= messaggio %>
		<% } else {  %>	
			<% if (DUEL_IS_OPEN) { %>
				<a href="/vota1">vota1</a>
				<a href="/vota2">vota2</a>
			<% } %> 
		<% } %> 

		<hr >

		Voti per "vota1": <%= VOTI.pubblico.a %> (giuria: <%= VOTI.giuria.a %>) <%= (VOTI.pubblico.a*100)/(VOTI.pubblico.a+VOTI.pubblico.b) %>% <br />
		Voti per "vota2": <%= VOTI.pubblico.b %> (giuria: <%= VOTI.giuria.a %>) <%= (VOTI.pubblico.b*100)/(VOTI.pubblico.a+VOTI.pubblico.b) %>% <br />
		
		<hr >
		<a href="/risultati">risultati json</a>
		

	</body>
	</html>
</html>
