<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>The Duel - <%= CANDIDATI.a %> vs <%= CANDIDATI.b %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Le styles -->
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap.no-icons.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/superhero/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
  <style>
  body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }
  </style>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">

  <link href="the-duel.css" rel="stylesheet">

  <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.0/fastclick.min.js"></script>

  <script>
  window.addEventListener('load', function() {
    new FastClick(document.body);
  }, false);
  </script>

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="favicon.png">
</head>

<body>

  <div class="container">

   <header class="text-center jumbotron">
    <h1 class="lead muted text-left">THE <i class="icon-exchange icon-white"></i> DUEL</h1>
    <h2>Marco <%= CANDIDATI.a %> <i class="icon-pencil"></i> <span class="muted">·</span> <i class="icon-legal"></i> Pietro <%= CANDIDATI.b %></h2>
    <div class="lead">
     <% if(DUEL_IS_OPEN) { %>
     <p>
      <span class="label label-success"><i class="icon-unlock"></i> Al momento il duello è APERTO <i class="icon-unlock"></i></span>
    </p>
    <!-- If sono loggato da giurato -->
    <% if (session.user) { %>
    <hr />
    <p>
      <a href="/close" class="btn btn-danger">Chiudi il duello</a>
      <a href="/reset" class="btn btn-danger">Resetta i dati</a>
    </p>

    <hr />
    <form class="form-horizontal text-left" action="/voto-giurato" method="post">
      <fieldset><legend>Voto giurato</legend>
		<div class="control-group">
			<label class="control-label">Candidato</label>
			<div class="controls">
				<label class="radio" for="votaVotaA">
					<%= CANDIDATI.a %> <input id="votaVotaA" type="radio" name="candidato" value="a" />
				</label>
				<label class="radio" for="votaVotaB">
					<%= CANDIDATI.b %> <input id="votaVotaB" type="radio" name="candidato" value="b" />
				</label>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="votaVoto">
				Voto
			</label>
			<div class="controls">
		      <select name="voto">
			       <option value="1">1</option>
			       <option value="2">2</option>
			       <option value="3">3</option>
			       <option value="4">4</option>
			       <option value="5">5</option>
			       <option value="6">6</option>
			       <option value="7">7</option>
			       <option value="8">8</option>
			       <option value="9">9</option>
		     	</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="votaMessaggio">Commento</label>
			<div class="controls">
				<%
					var votoEsempio = "+1 ";
					var hastagPredefinito = ' #piazzapulita www.ilduello.net';
					var nomePiuLungo = (CANDIDATI.a.length>CANDIDATI.b.length ? CANDIDATI.a.length : CANDIDATI.b.length)+2;
					var lunghezzaTweet = 140;
					var lunghezzaMassimaMessaggio = lunghezzaTweet - votoEsempio.length - hastagPredefinito.length - nomePiuLungo;
				%>

      			<textarea cols="6" id="votaMessaggio" rows="3" maxlength="<%= lunghezzaMassimaMessaggio %>" name="messaggio" placeholder="messaggio" ></textarea>
      			<small id="rimanenti"></small>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="hashtag">Hashtag</label>
			<div class="controls">
      			<textarea cols="6" id="votaHash" rows="3" maxlength="100" name="hashtag" placeholder="hashtag" ><%= hastagPredefinito %></textarea>
				<script>
						var calcolaRimanenti = function() {
							document.getElementById('rimanenti').innerText = 
							<%= lunghezzaTweet %> - 
							<%= votoEsempio.length %> - 
							<%= nomePiuLungo %> - 
							(document.getElementById('votaMessaggio').value.length) - 
							(document.getElementById('votaHash').value.length);
						};
						document.getElementById('votaMessaggio').onkeydown = calcolaRimanenti;
						document.getElementById('votaMessaggio').onkeyup = calcolaRimanenti;
						document.getElementById('votaMessaggio').onchange = calcolaRimanenti;
						document.getElementById('votaHash').onkeydown = calcolaRimanenti;
						document.getElementById('votaHash').onkeyup = calcolaRimanenti;
						document.getElementById('votaHash').onchange = calcolaRimanenti;
						calcolaRimanenti();
				</script>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn" />
       			<small>(attenzione è collegato con <a href="https://twitter.com/NinjaPheasants">twitter@NinjaPheasants)</a></small>
			</div>
		</div>
      </fieldset>
   </form>
   <% } %>
   <!--// If sono loggato da giurato -->

   <% } else { %>
   <div class="alert">
    <span class="label label-important"><i class="icon-lock"></i> Al momento il duello è IN PAUSA <i class="icon-lock"></i></span>
    <p>
      Il gong del primo imperdibile round suonerà <strong>Lunedì 25 Marzo alle 21.10</strong> con l'inizio di Piazza Pulita su La7.<br />
      Pietro Grasso saprà approfittare del vantaggio iniziale? Vota e vedremo!
    </p>
  </div>
  <!-- If sono loggato da giurato -->
  <% if (session.user) { %>
  <p>
    <a href="/open" class="btn btn-success">Apri il duello</a>
  </p>
  <% } %>
  <!--// If sono loggato da giurato -->
  <% } %>
</div>
</header>

<hr >

<% if (session.messaggio) { %>
<div class="row-fluid text-center">
  <div class="span10 offset1">
    <div class="alert">
      <h2 class="alert-heading"><%= session.messaggio %></h2>
      <p>
        Ma il duello non è ancora finito!<br />
        Chi metterà a segno il prossimo colpo?
      </p>
    </div>
    <p class="margin-medium-vertical"><a href="/" class="btn btn-inverse btn-large" id="vota-ancora"><i class="icon-exchange"></i> Vota ancora!</a></p>
  </div>
</div>
<% } %>

<div role="main" id="voti" class="row-fluid">
  <% if (DUEL_IS_OPEN && !session.messaggio) { %>
  <a href="/votaA" class="btn btn-inverse span1 vota">vota <i class="icon-pencil"></i></a>
  <% } %>
  <div class="progress span10 margin-medium-vertical<% if (!DUEL_IS_OPEN || session.messaggio) { %> offset1<% } %>">
	<%
		var votiTotA = VOTI.pubblico.a+VOTI.giuria.a;
		var votiTotB = VOTI.pubblico.b+VOTI.giuria.b;
		var percentualeA = Math.round( (votiTotA*100) / (votiTotA+votiTotB) );
     	var percentualeB = 100-percentualeA;

     	if((votiTotA+votiTotB)==0) {
     		percentualeA = 50;
     		percentualeB = 50;
     	}
		
		//calcolo per i <div>

		var percentualeA_div = percentualeA;
		var percentualeB_div = percentualeB;

		if (percentualeA_div==1) { percentualeA_div = 2; percentualeB_div = 98; }
		if (percentualeB_div==1) { percentualeB_div = 2; percentualeA_div = 98; }
		
		if (percentualeA_div==0) { percentualeA_div = 2; }
		else if (percentualeB_div==0) { percentualeA_div = 98; }
		
		if (percentualeA_div%2==1) {
			if (percentualeA_div>50) {
				percentualeA_div=percentualeA_div-1;
			}
			else {
				percentualeA_div=percentualeA_div+1;

			}
		}
		percentualeB_div = 100-percentualeA_div	
	%>
    <div class="bar bar-warning text-right" style="width: <%= percentualeA_div %>%;">
     <span class="bar-candidato"><%= CANDIDATI.a %> <%= percentualeA %>%</span>
     <img src="travaglio.jpg" />
   </div>
   <div class="bar bar-danger text-left" style="width: <%= percentualeB_div %>%;">
     <img src="grasso.jpg" />
     <span class="bar-candidato"><%= percentualeB %>% <%= CANDIDATI.b %></span>
   </div>
 </div>
 <% if (DUEL_IS_OPEN && !session.messaggio) { %>
 <a href="/votaB" class="btn btn-inverse span1 vota pull-right"><i class="icon-legal"></i> vota</a>
 <% } %>
</div>

<p class="margin-medium-bottom text-center">
  <small>
    Dettaglio Voti: <strong><%= CANDIDATI.a %></strong> <%= votiTotA %> (giuria: <%= VOTI.giuria.a %>) - <strong><%= CANDIDATI.b %></strong> <%= votiTotB %> (giuria: <%= VOTI.giuria.b %>)
  </small>
</p>


<div class="well margin-medium-vertical">
  <h4 id="giuria">I voti della Giuria</h4>
<% if (VOTI.messaggiGiuria.length>0) { %>
  <ul class="unstyled">
<%
  //esiste il parametro "vedi-tutti-i-voti" allora non tronco l'array, altrimenti lo tronco alla fine di 5
  var quanti = (queryString['vedi-tutti-i-voti'] !== undefined) ? 0 : -5;
  //tronco l'array
  var messaggiGiuria = VOTI.messaggiGiuria.slice(quanti); //gli ultimi 5 oppure tutti
  //rovescio l'array
  messaggiGiuria = messaggiGiuria.reverse();
  //stampo per ciascuno l'html
  _.each(messaggiGiuria, function(item, index) { %>
    <li>
      <p>
        <span class="label label-inverse span1"><%= dateformat(item.data, 'shortTime') %></span> <!-- dateformat https://npmjs.org/package/dateformat -->
        (+<%= item.voto %>) <%= CANDIDATI[item.candidato] %> · <em><%= item.messaggio %></em>
      </p>
    </li>
<% }); %>
  </ul>

  <% if (VOTI.messaggiGiuria.length>5) {
  		if (VOTI.messaggiGiuria.length>5 && queryString['vedi-tutti-i-voti']===undefined) { %>
  			<p><a href="/?vedi-tutti-i-voti#giuria">Vedi tutti</a></p>	
  		<% } else { %>
  			<p><a href="/">Vedi pochi</a></p>	
  		<% } %>
  <% } %>
<% } else { %>
  <p>La Giuria non si è ancora espressa... ma non tarderà a farlo!</p>
<% } %>
</div>


<hr >

<footer class="footer">

  <ul class="nav nav-pills">
    <li class="pull-left">
      <a href="/disclaimer.html">Note importanti</a>
    </li>
    <li class="pull-right">
      <a href="/risultati">Risultati JSON</a>
    </li>
  </ul>

  <p class="clearfix text-center">
  <a href="https://play.google.com/store/apps/details?id=com.ninjapheasants.theduel">
    <img alt="Get it on Google Play"
         src="https://developer.android.com/images/brand/it_generic_rgb_wo_60.png" />
  </a>
  </p>

  <p class="text-center">
    <small>&copy; <a href="https://github.com/Ninja-Pheasants">Ninja Pheasants</a> 2013</small>
  </p>

</footer>

</div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!--
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    -->

    <script>
        if (window.location.host != 'localhost') {
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-39549771-1', 'ilduello.net');
            ga('send', 'pageview');
        }

        // Using jQuery Event API v1.3
        $('#vota-ancora').on('click touchstart', function() {
          ga('send', 'event', 'Misc', 'Usa bottone', 'Vota ancora!');
        });
    </script>

</body>
</html>

